modules = ["nodejs-20", "vue-node-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Vue Dev"

[[workflows.workflow]]
name = "Dev Server"
author = 43949591
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "React Dev"
author = 45371843
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"

[[workflows.workflow]]
name = "Vue Dev"
author = 45371843
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Vue && npm run serve"

[[workflows.workflow]]
name = "Install All"
author = 45371843
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && cd Vue && npm install"

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true
